<div class="{{ tag | link_to_remove_tag: 'example' }}"></div>
<div class="{% if condition %}foo{% endif %}"></div>


<section data-test-attribute data-foo="bar" data-bar="foo" id="hello-world" data-foo-index="1" data-foo-id="bar">

  <div data-test-attribute data-foo="bar" data-bar="foo" id="hello-world" class="foo">
    <div>
      <button data-foo="bar" type="button">
        {% include 'something' %}
      </button>
    </div>
    <div class="foo" data-foo-index="1" data-foo-id="bar">
      {% for block in foo.bar %}
        <div class="d-block">
          {% unless block.settings.link %}
            {{ - block.settings.text - }}
          {% else %}
            <a href="{{ block.settings.link }}" title="{{- block.settings.text - }}">
              {{ - block.settings.text - }}
            </a>
          {% endunless %}
        </div>
      {% endfor %}
    </div>
    <div>
      <button data-foo="bar" type="button">
        {% include 'something' %}
      </button>
    </div>
  </div>
</section>

<div data-test-attribute data-foo="bar" data-bar="foo" id="hello-world">
  <div class="foo" data-foo-index="1" data-foo-id="bar">
    <div>
      <button data-foo="bar" type="button">
        {% include 'something' %}
      </button>
    </div>
    <div class="foo" data-foo-index="1" data-foo-id="bar">
      {% for block in foo.bar %}
        <div class="d-block">
          {% unless block.settings.link %}
            {{ - block.settings.text - }}
          {% else %}
            <a href="{{ block.settings.link -}}" title="{{- block.settings.text -}}">
              {{ - block.settings.text - }}
            </a>
          {% endunless %}
        </div>
      {% endfor %}
    </div>
    <div>
      <button data-foo="bar" type="button">
        {% include 'something' %}
      </button>
    </div>
  </div>
</div>
