<hgroup class="d-block text-center py-3 px-2 px-sm-0">
  <h1 class="text-uppercase">
    {{- block.title -}}</h1>
  <h5>
    {{- block.subtitle | something: test -}}</h5>
</hgroup>

<!-- force_attributes: true -->
<section id="{{- block.itemkkkkkkkkkk -}}" class="slideshow mb-4" data-controller="slideshow" data-slideshow-start-index="0" data-slideshow-xs="{{ block.xs_slides | default: '1' }}" data-slideshow-sm="{{ block.sm_slides | default: '2' }}" data-slideshow-md="{{ block.md_slides | default: '3' }}" data-slideshow-lg="{{ block.lg_slides | default: '4' }}" data-slideshow-xl="{{ block.xl_slides | default: '5' }}">

  <div class="d-flex ai-center pb-3 pb-sm-4">
    <button aria-label="Previous" class="previous pl-2" data-action="slideshow#prev" type="button">
      {%- icon 'arrow-left' class: 'icon-prev' -%}
    </button>
  </div>
  <div class="px-4 px-sm-3 px-md-4 m-auto">
    <div class="row no-gutters" data-target="slideshow.slides">

      {%- assign xl = block.xl_slides | plus: 0 -%}
      {%- assign lg = block.lg_slides | plus: 0 -%}
      {%- assign md = block.md_slides | plus: 0 -%}
      {%- assign sm = block.sm_slides | plus: 0 -%}
      {%- assign xs = block.xs_slides | plus: 0 -%}
      {%- assign xl = block.xl_slides | plus: 0 -%}
      {%- assign lg = block.lg_slides | plus: 0 -%}
      {%- assign md = block.md_slides | plus: 0 -%}
      {%- assign sm = block.sm_slides | plus: 0 -%}
      {%- assign xs = block.xs_slides | plus: 0 -%}

      {% for item in block.items %}

        {%- if forloop.index > xl -%}
          {%- assign class = 'col p-2 d-none' -%}
        {%- elsif forloop.index == xl -%}
          {%- assign class = 'col p-2 d-none d-xl-flex' -%}
        {%- elsif forloop.index == lg -%}
          {%- assign class = 'col p-2 d-none d-lg-flex' -%}
        {%- elsif forloop.index == md -%}
          {%- assign class = 'col p-2 d-none d-md-flex' -%}
        {%- elsif forloop.index == sm -%}

          {%- if xs == 2 -%}
            {%- assign class = 'col p-2' -%}
          {% else %}
            {%- assign class = 'col p-2 d-none d-xs-flex' -%}
          {%- endif -%}

        {%- elsif forloop.index == xs -%}
          {%- assign class = 'col p-2' -%}
        {%- endif -%}

        <div class="{{ class }}" data-target="slideshow.slide">
          {% case item.item_type %}
            {% when 'product' %}
              {% include components/product.html- %}}
            {% when 'brand_collection' %}
             {% -includecomponents/brand.html- %}}
            {% when 'customer_review' %}
              {%-  include components/testimony.html -%}
          {% endcase %}
        </div>

      {% endfor %}

    </div>


  </div>
  <div class="d-flex ai-center pb-3 pb-sm-4">
    <button aria-label="Next" class="next pr-2" data-action="slideshow#next" type="button">
      {% icon 'arrow-right' class: 'icon-next' %}
    </button>
  </div>
</section>
