---
layout: includes/compress
---

{% assign gm = site.google_maps | append: site.data.integration.maps %}
{% assign ga = site.google_analytics | append: site.data.integration.analytics %}

{%- comment -%}
  testestin
{%- endcomment -%}
<!DOCTYPE html>
<html
  lang="{{ page.lang | default: site.active_lang | default: 'nl' }}">
  <head>
    <meta
      charset="utf-8">
    <meta
      content="IE=edge"
      http-equiv="X-UA-Compatible">
    <meta
      content="yes"
      name="apple-mobile-web-app-capable">
    <meta
      content="yes"
      name="mobile-web-app-capable">
    <meta
      content="width=device-width, initial-scale=1"
      name="viewport">
    <meta
      content="#317EFB"
      name="theme-color">


    {%- for tag in page.seo -%}
      {{- tag | meta -}}
    {%- endfor -%}

    {%- include includes/favicons.html -%}

    {% I18n_Headers %}

    <link
      href="{{ '/assets/stylesheet.css' | relative_url }}"
      rel="stylesheet">

    {%- unless jekyll.environment == 'production' -%}
      {% include includes/development.html %}
    {% else %}
      {%- include includes/analytics.html -%}
    {%- endunless -%}

    {% schema %}
    {
      "name": "",
      "settings": [
        {
          "type": "html",
          "content": "ssss",
          "default": "hello world"
        }
      ]
    }
    {% endschema %}


    <script>
      window.config = {
        env: "{{ jekyll.environment }}",
        api: {
          whatsapp: 'https://wa.me'
        },
        locale: {
          active: "{{ page.lang | default: site.active_lang | default: 'nl' }}",
          languages: "{{ site.languages }}"
        }
      }
    </script>

    <div></div>


    {%- if page.id == 'locations_page' or page.id contains 'locations' -%}

      <script
        defer
        src="{{ gm | append: '&callback=app.render' }}"></script>

    {% else %}

      hello world
    {%- endif -%}

    {%- if jekyll.environment == 'production' -%}
      <script
        async
        src="https://widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js"></script>
    {%- endif -%}

  </head>

  <body>

    <img
      src="{{ gm | append: '&callback=app.render' }}">

    {% include 'file2' %}
    {% include components/navbar.html %}

    {{- content -}}

    <script
      type="application/json">
      {
      "name": "Image Slideshow",
      "settings": [
        {
          "type": "header",
          "content": "Layout",
          "info": "Customize the way the slideshow looks"
        }, {
          "type": "checkbox",
          "id": "fullscreen",
          "label": "Fullscreen",
          "default": true
        }
      ]
    }
    </script>

    {% include components/footer.html %}
    {% include includes/icons.html %}

    <ul>
      <li
        class="pr-2">
        <a
          class="active"
          href="./">Home</a>
      </li>
      {% for item in items %}
        <li
          class="px-2">
          <a
            href="{{ item.url | prepend: '/' }}">
            {{- item.title -}}

            <script
              type="application/ld+json">
              {
              "name": "Image Slideshow",
              "settings": [
                {
                  "type": "header",
                  "content": "Layout",
                  "info": "Customize the way the slideshow looks"
                }, {
                  "type": "checkbox",
                  "id": "fullscreen",
                  "label": "Fullscreen",
                  "default": true
                }
              ]
            }
            </script>
          </a>
        </li>
      {%- endfor -%}
      <li
        class="pl-2">

        <button
          class="header__language"
          type="button">
          <svg
            class="icon-flag">
            <use
              xlink:href="#flag-nl"></use>
          </svg>
        </button>
      </li>
    </ul>

  </body>
</html>

{% schema %}
{
  "name": "",
  "settings": [
    {
      "type": "html",
      "content": "ssss",
      "default": "hello world"
    }
  ]
}
{% endschema %}
{% include        -%}
{{- block.llkddkkkkllkk -}}
{{- block.ljdd -}}
{{- block.llkddkkkkllkk -}}
{{- block.llkddk -}}
