{% for tag in article.user %}
  {% if   o ==  o %}
    {% if     %}{% endif %}
  {% endif %}
  {% unless                %}{% endunless %}
{% endfor %}
{{  content_for_header  |  }}

<a
  href="kk"></a>
<a
  href="kk"></a>

<ul
  class="test">
  <li>Documentation</li>
  <li>Playground</li>
  <li>License</li>
</ul>

{{ article | replace: 'l',   }}
{{ article | replace:    }}
{{ article | replace:  ''  }}
{{ article | split: '',     }}
{{ article.author | slice: ''  }}

{{ article.image.alt | filter: prodct.available  }}

{% if tag ==  tag  %}{% endif %}

{% render 'file1'
, my_variable: product.available
, my_other_variable: 'oranges' %}

{% include  file

 %}
