{%- if page.url == '/' -%}
  {%- assign is_open = 'false' -%}
  {%- assign hidden = 'false' -%}
  {%- assign active = '' -%}
{%- else -%}
  {%- assign is_open = 'true' -%}
  {%- assign hidden = 'true' -%}
  {%- assign active = 'drawer-active' -%}
{%- endif -%}

<aside id="sidebar" class="drawer-panel drawer-left {{ drawer }} sidebar vh-100 bd-right" data-controller="drawer">
  <div class="container-fluid g-0">

    <div class="row ai-center jc-center my-4 px-4">

      <a href="/" class="col-auto pr-1" data-spx-target="['body']">
        {% svg "logo", 'logo' %}
      </a>

      <span class="col-auto logo-text as-end upper italic">Single Page XHR</span>

    </div>

    <form class="mx-4">
      <input class="form-input form-input-sm rad-1" type="search" placeholder="Search...">
    </form>

    <nav class="relapse mt-3 mb-2" data-controller="accordion">

      {%- assign pages = collections.all | sorting -%}

      {%- for link in pages %}

        {%- unless link.data.title and link.data.sidebar -%}
          {%- continue -%}
        {%- endunless -%}

        {%- capture initial -%}
          {%- if page.url == link.url -%}initial
          {%- endif -%}
        {%- endcapture -%}
        <a class="relapse-btn d-flex jc-between btn py-2 ff-base {{ initial }}" href="{{- link.url }}">
          <span>{{ link.data.title }}</span>
          {% svg "chevron-right", 'icon icon-close' %}
          {% svg "chevron-down", 'icon icon-open' %}
        </a>

        <div class="relapse-fold {% if page.url == link.url %}expanded{%- endif -%}">
          <ul class="p-2 ml-0" id="{{- link.data.title | slugify -}}">
            {%- for item in link.data.sidebar %}
              <li class="pt-1 pl-3">

                <a href="{{ item | slugify | prepend: '#' }}">

                  {%- if item contains 'data-' -%}
                    {{- item | replace: '-', '<span class="fc-gray">–</span>'-}}
                  {%- elsif item contains 'spx:' -%}
                    {{- item | replace: ':', '<span class="fc-gray">:</span>'-}}
                  {%- else -%}
                    {{- item -}}
                  {%- endif -%}

                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>

      {%- endfor -%}

    </nav>
  </div>
</aside>
